@model IEnumerable<JobResult>
@{
    var ICLoadNext = ViewBag.ICCurrentUrl == @Context.Request.Path;
    var ICLoadRecent = (ViewBag.ICCurrentUrl + "/history") == @Context.Request.Path;
}

@if (ViewBag.IC == false) 
{
    <h2>History</h2>
}

@if (Model.Count() > 0)
{
    if (ICLoadNext) {
        @Html.Partial("HistoryPartial")
    } 
    else {
        <div class="list-group" id="results">
            @Html.Partial("HistoryPartial")
        </div>
    }
    
    if (!ICLoadRecent) {
        var last = Model.Last();
        <div ic-append-from='@(Context.Request.Path)?skipToken=@(last.RowKey)' ic-trigger-on='scrolled-into-view' ic-target='#results'></div>
    }
} 

else if (!ICLoadNext){
    <div class="well">No results found.</div>
}

@if (ICLoadRecent) {
    <div ic-get-from='@Context.Request.Path' ic-trigger-on="load" ic-trigger-delay="10s" ic-target="#history"></div>
}
